<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home-InterviewManagemetSystem</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cand.css') }}">
</head>

<body>
<div class="page">
  <header tabindex="0">HOME</header>
  <div class="sidebar">
<ul>
		<div class="active">
        <li><a href="{{ url_for('dashboard') }}" ><span>Home</span></a></li>
		</div>
		<li><a href="{{ url_for('hrafterlogin') }}"><span>Add HR</span></a></li>
        <li><a href="{{ url_for('panel') }}"><span>Add Panel</span></a></li>
		<li><a href="{{ url_for('test') }}"><span>Add Test</span></a></li>
		<li><a href="{{ url_for('cand') }}"><span>Add Candidate</span></a></li>
		<li><a href="{{ url_for('interview') }}"><span>Schedule Interview</span></a></li>
		<li><a href="{{ url_for('executeint') }}" ><span>Execute Interview</span></a></li>
		<li><a href="{{ url_for('execute') }}"><span>Interview Result</span></a></li>
		
        <li class="small"><a href="{{ url_for('logout') }}"class="arrow"><span>Logout</span></a></li>
      </ul>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<-->
</div>
</body>
</div>
</html>