<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {  
    font-family: Georgia;  
  display: block;  
  font-size: 2rem;  
  font-weight: 900;  
  text-align: center;  
  letter-spacing: 1px;  
  color: #F2CC33;  
    text-transform: uppercase;  
}  

body {  
    margin: 50px auto;  
    text-align: center;  
    width: 800px;  
    color: #FF992C;
    font-family: 'Lusitana', serif;
}  
</style>
</head>
<body>
<div align="center">
<h1>User details have been successfully submitted.</h1>
<p> Click here to <a href="{{ url_for('index') }}">Login</a></p>
</div>
</body>
</html>
